body {
	font-family: 'Montserrat', sans-serif;
	background-color: #050505;
}

.about-me-proffession {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	line-height: 17px;
	margin-bottom: 20px;
}

.about-me-section {
	margin-bottom: 40px;
}

.about-me-name {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	color: #fff;
}

.about-me-description {
	width: auto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #c7c7c7;
}

.main-container {
	display: flex;
	flex-direction: row-reverse;
	width: 1200px;
	background-color: #212121;
	margin: 40px auto;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1)
}

/*Main content*/

.main-content-section {
	padding: 100px 90px ;
}

.main-content-title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #fff;
	margin-bottom: 10px;
}

/*My projects section*/

.my-projects-section {
	margin: 0 0 50px 0;
}

.my-projects-list {
	padding: 0 0 0 17px;
}

.my-projects-item {
	color: #fff;
	font-weight: bold;
}

.my-projects-link {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #6eff8a;
	text-decoration: none;
}

.my-projects-text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	margin-left: 5px;	
}

.my-projects-bracket {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #cccccc;
}

.my-projects-bracket-text {
	color: #6eff8a;
}


.my-work-experience-company {
	color: #6eff8a;
}

.my-work-experience-position {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #fff;
}

.my-work-experience-period {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #6eff8a;
	margin-bottom: 10px;
}

.my-work-experience-divider {
	color: #000;
	font-weight: bold;
}

.my-work-experience-duties {
	padding: 0 0 0 18px;
	color: #fff;
}

.my-work-experience-duty {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #fafafa;
}

.my-work-experience-company-section {
	margin: 0 15px 0 0;
}

.my-education-header {
	color: #fff;
}

/*sidebar section*/

.sidebar-section {
	background-color: #1e2939;
	width: 370px;
	padding: 40px 0;
}

.contacts-section,
.tech-skills-section {
	margin: 50px 0 0 40px;
}

.sidebar-title {
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #fff;
	margin-bottom: 10px;
}

/*contacts section*/

.contacts-section-type {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	margin-right: 7px;
}

.contacts-section-link {
	color: #6eff8a;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}

.tech-skills-list {
	padding: 0 0 0 15px;
}

.tech-skills-item {
	color: #6eff8a;
}

.tech-skills-item-text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
}

.soft-skills-item {
	color: #6eff8a;
}

.soft-skills-item {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
}

.soft-skills-item-text {
	color: #fff;
}